.contact {
  position: absolute;
  bottom: 30px;
  display: flex;
  gap: 30px;

  &__link {
    list-style: none;
    & a {
      text-decoration: none;
      font-size: 1.75em;
      color: #333;
      &:hover {
        color: $secondary-color;
      }
    }
  }
}
